.cabecalho{

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;

    width: 100%;
    min-height: 80px;
    padding: 0px 50px;
    background-color: #ffffff;


    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cabecalho>nav{
    display: flex;
    gap: 15px;
    display: none;
}
.cabecalho>nav>a{
    width: 140px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #4200FF;
    color: #FFFFFF;

    font-size: 18px;
    font-weight: 700;
}
.cabecalho>nav>a:hover{
    color: #4200FF;
    background: #FFFFFF;
    border: 1px solid #4200FF;

}
#btnCss{
    color: #4200FF;
    background: #FFFFFF;
    border: 1px solid #4200FF;
}
#btnCss:hover{
    color: #FFFFFF;
    background: #4200FF;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/imgBack.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 10px;

    background-color: red;
}
.formLogin{
    width: 100%;
    max-width:506px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;

    padding: 25px;
}
.formLogin>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}
.formLogin>div>h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}
.formLogin>div>p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.formLogin>input{
    width: 100%;
    height: 52px;

    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    padding-left: 10px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.formLogin>button{
    width: 100%;
    height: 52px;
    background: #4200FF;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}
.formLogin>a{
    width: 100%;
    height: 52px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #4200FF;

    border: 1px solid #4200FF;
   
}
.formLogin>button:hover{
    background-color:  #2f1085;
}
.formLogin>a:hover{
    background-color: #c9c3c3;
}

@media(min-width:620px){
    .hamburguer{
        display: none;
    }
    .cabecalho>nav{
        display: flex;
    }
 }

