.cabecalho{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    justify-content: center;
   
    

    gap: 12px;
    width: 100%;
    min-height: 80px;
    padding: 30px 50px;
    background-color: #ffffff;

    position: fixed;
    top: 0;
    z-index: 99;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cabecalho>nav{
    width: 100%;
    max-width: 700px;
    gap: 15px;
    display: none;
    align-items: center;
    justify-content: center;
}
.cabecalho>nav>a{
    width: 140px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #4200FF;
    color: #FFFFFF;

    font-size: 18px;
    font-weight: 700;
}
.cabecalho>nav>a:hover{
    color: #4200FF;
    background: #FFFFFF;
    border: 1px solid #4200FF;
}
#btnCss{
    color: #4200FF;
    background: #FFFFFF;
    border: 1px solid #4200FF;
}
#btnCss:hover{
    color: #FFFFFF;
    background: #4200FF;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    
    
    gap: 50px;
    padding-top: 113px;
    padding-left: 10px;
    padding-right: 10px;
   
}
.sectionImg{
    display: none;
    position: absolute;
    width: 60%;
}
.sectionImg>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sectionSelect{
    width: 100%;
    max-width:550px; 
    height: 330px;

    overflow: auto;

    filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.12));

    background: #F8F8F8;

    position: relative;

}
.sectionSelect>select{
    width: 100%;
    height: 50px;

    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../../assets/setaSelect.svg) no-repeat center right#4200FF;
    

    position: sticky;
    top: 0;
    left: 0;
     
}
.sectionSelect>ul{
    width: 100%;

    display: flex;
    
     gap: 15px;
    
    padding: 15px;
    list-style: none;

}
.sectionSelect>ul>li{

    width: 100%;
    min-width: 200px;

    height: 180px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    gap: 10px;

    
    padding: 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #4200FF;
}
.sectionSelect>ul>li>h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

color: #000000;
}
.sectionSelect>ul>li>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}
.sectionSelect>ul>li>span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #4200FF;
}

#goOpen{
    display: flex;
}


@media(min-width:1000px){

    .sectionImg{
        position: relative;
        width: 550px;  
        height: 700px;
    }
}
@media(min-width:620px){
    .cabecalho{
        flex-wrap: nowrap;
    }
    .hamburguer{
        display: none;
    }
    .cabecalho>nav{
        display: flex;
        justify-content: flex-end;
    }
    .container{
        justify-content: center;
        align-items: center;
    }
    .sectionImg{
        display: flex;
    }
    .sectionSelect{
        height: 700px;
    }
    .sectionSelect>ul{
        flex-direction: column;
    }

 }
@media(min-width:341px){
    .cabecalho{
        justify-content: space-between;
        gap: 30px;
    }
}
