.cabecalho{

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;

    width: 100%;
    min-height: 80px;
    padding: 0px 50px;
    background-color: #ffffff;


    border: 1px solid rgba(0, 0, 0, 0.1);
}
.cabecalho>nav{
    display: flex;
    gap: 15px;
    display: none;
}
.cabecalho>nav>a{
    width: 140px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #4200FF;
    background: #FFFFFF;
    border: 1px solid #4200FF;

    font-size: 18px;
    font-weight: 700;
}
.cabecalho>nav>a:hover{
    color: #FFFFFF;
    background: #4200FF;
}

.containerUser{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 30px 15px 0px 15px;
    gap: 30px;
}
.secInfoUser{
    width: 100%;
    max-width:1180px;
    min-height: 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
    padding: 0px 15px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}
.secInfoUser>div{
    width: 100%;
    max-width: 800px;

    display: flex;
    flex-direction: column;

    gap: 15px;
   
}
.secInfoUser>button{
   background-color: white;
}
.secInfoUser>div>h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;

}
.secInfoUser>div>div{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    justify-content: space-between;
}
.secInfoUser>div>div>p{
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.difCondit{
    width: 100%;
    max-width:1180px;
    height: 467px;

    display: none;
    align-items: center;
    justify-content: center;

    text-align: center;

    background: #F8F8F8;
    border: 1px solid #A8A8A8;



}
.difCondit>h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    
}
.inforCompany{
    width: 100%;
    max-width:1180px;
    height: 467px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
    background: #F8F8F8;

}
.inforCompany>h2{
    width: 100%;
    text-align: center;

    padding: 15px 10px;

    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: white;
    background-color: #4200FF;
}
.inforCompany>ul{
    width: 87%;
    display: flex;

    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    overflow: auto;
    
    list-style: none;
    
    gap: 15px;
    padding: 10px;
}
.inforCompany>ul>li{
    width: 318px;
    height: 76px;

    display: flex;
    flex-direction: column;
    justify-content: center;
   
    gap: 15px;

    padding: 15px;

    background: #FFFFFF;
    border: 1px solid #4200FF;
}
.inforCompany>ul>li>p{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.inforCompany>ul>li>span{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}


@media(min-width:620px){
    .hamburguer{
        display: none;
    }
    .cabecalho>nav{
        display: flex;
    }
 }

